.chat-head {
  color: rgb(69, 122, 179);
  padding: 0 35%;
}
.chat-cards {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10%;
}
.chat-card {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  width: 300px;
  height: 165px;
  align-items: center;
  border-radius: 10px;
  margin: 10px;
}
