* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: grid;
    gap: 10px;
    width: 100vw;
    height: 100vh;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);

    grid-template-areas:
        "b1 b1 b1 b1 b1 b1 b1 b1 b1 b1 b1 b1"
        "b5 b5 b5 b2 b2 b2 b2 b2 b2 b4 b4 b4"
        "b5 b5 b5 b3 b3 b3 b3 b3 b3 b4 b4 b4"
        "b5 b5 b5 b3 b3 b3 b3 b3 b3 b4 b4 b4"
        "b5 b5 b5 b3 b3 b3 b3 b3 b3 b4 b4 b4"
        "b5 b5 b5 b3 b3 b3 b3 b3 b3 b4 b4 b4"
        "b5 b5 b5 b3 b3 b3 b3 b3 b3 b4 b4 b4"
        "b5 b5 b5 b3 b3 b3 b3 b3 b3 b4 b4 b4"
        "b5 b5 b5 b3 b3 b3 b3 b3 b3 b4 b4 b4"
        "b5 b5 b5 b3 b3 b3 b3 b3 b3 b4 b4 b4"
        "b5 b5 b5 b3 b3 b3 b3 b3 b3 b4 b4 b4"
        "b6 b6 b6 b6 b6 b6 b6 b6 b6 b6 b6 b6";
}

.box {
    background-color: pink;
}
#box1 {
    grid-area: b1;
}
#box2 {
    grid-area: b2;
}
#box3 {
    grid-area: b3;
}
#box4 {
    grid-area: b4;
}
#box5 {
    grid-area: b5;
}
#box6 {
    grid-area: b6;
}

@media (max-width: 720px) {
    .container {
        grid-template-areas:
            "b1 b1 b1 b1 b1 b1 b1 b1 b1 b1 b1 b1"
            "b2 b2 b2 b2 b2 b2 b2 b2 b2 b2 b2 b2"
            "b5 b5 b5 b3 b3 b3 b3 b3 b3 b3 b3 b3"
            "b5 b5 b5 b3 b3 b3 b3 b3 b3 b3 b3 b3"
            "b5 b5 b5 b3 b3 b3 b3 b3 b3 b3 b3 b3"
            "b5 b5 b5 b3 b3 b3 b3 b3 b3 b3 b3 b3"
            "b5 b5 b5 b3 b3 b3 b3 b3 b3 b3 b3 b3"
            "b5 b5 b5 b3 b3 b3 b3 b3 b3 b3 b3 b3"
            "b5 b5 b5 b3 b3 b3 b3 b3 b3 b3 b3 b3"
            "b5 b5 b5 b3 b3 b3 b3 b3 b3 b3 b3 b3"
            "b5 b5 b5 b3 b3 b3 b3 b3 b3 b3 b3 b3"
            "b4 b4 b4 b4 b6 b6 b6 b6 b6 b6 b6 b6";
    }
}

h1 {
    margin: 100px;
}
.loader {
    margin: 100px;
    border: 16px solid #f3f3f3;
    border-top: 16px solid rebeccapurple;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
