@media (max-width: 400px) {
    .simon {
        width: 330px;
        height: 320px;
        column-gap: 1px;
        margin-top: 5rem;
    }
    .pad {
        width: 140px;
        height: 140px;
    }
    .center {
        width: 100px;
        height: 100px;
        font-size: 1.5rem;
        left: 7rem;
        top: 6rem;
    }
    footer {
        font-size: larger;
        left: 17%;
    }
}
